@import '../../shared';

.menu {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--alternate);
	z-index: 10;
}

.wrapper {
	display: grid;
	grid-template-areas: "header header" "bio bio" "years categories";
	grid-template-columns: 25% 1fr;
	grid-template-rows: min-content min-content auto;
	width: 100%;
	height: 100vh;

	li {
		list-style: none;
		display: block;
	}

	a {
		color: black;
	}
}

.header {
	grid-area: header;
	width: 100%;
}

.bio {
	grid-area: bio;
	padding-bottom: 48px;
}

.years {
	grid-area: years;
}

.categoriesBox {
	position: relative;
	grid-area: categories;
	height: 100%;
}

.categories {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: flex-start;
}