@import '../../shared';

.featured {
	display: flex;
	flex-flow: column-reverse nowrap;
	width: calc(100% + 88px);
	margin: 0 -44px;
	
	@include breakpoint(medium) {
		background-color: var(--alternate);
		margin: 0;
		width: 100%;
		display: grid;
		grid-template-areas: "details image";
		grid-template-columns: 1fr 2fr;
	}

	h2 {
		margin: 8px auto 0;
		font-size: var(--h3);

		@include breakpoint(medium) {
			margin: 40px auto 0;
		}
	}
}

.details {
	display: flex;
	flex-direction: column;
	place-content: center;
	place-items: center;
	text-align: center;
	color: inherit;
	text-decoration: none;
	grid-area: details;
}

.image {
	grid-area: image;
}