@import '../../shared';

.page {
	padding-top: 24px;
}

.posts {
	grid-area: posts;
	display: grid;
	grid-template-columns: 1fr 1fr;
	row-gap: 48px;
	column-gap: 36px;
	font-size: var(--h6);

	@include breakpoint(small) {
		grid-template-columns: 1fr 1fr 1fr;
	}

	@include breakpoint(medium) {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	@include breakpoint(large) {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}

	a {
		display: flex;
		flex-direction: column;
		justify-content: center;
		color: inherit;
		text-decoration: none;
	}
}

.next {
	all: unset;
	margin: 16px auto;
	background-color: var(--background);
	color: var(--black);
}