@font-face {
	font-family: 'Jost';
	src: local('Jost'),
		url('/fonts/jost-500-medium-citr.woff2') format('woff2'),
		url('/fonts/jost-500-medium-citr.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: local('Inter'), 
		url("/fonts/Inter-Regular.woff2") format("woff2"),
		url("/fonts/Inter-Regular.woff") format("woff");
}

:root {
	--h1: 38px;
	--h2: 32px;
	--h3: 28px;
	--h4: 24px;
	--h5: 18px;
	--h6: 16px;
	--caption: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
	font-family: inherit;
	font-weight: inherit;
	position: relative;
	line-height: inherit;
}

h1 {
	font-size: var(--h1);
}

h2 {
	font-size: var(--h2);
}

h3 {
	font-size: var(--h3);
}

h4 {
	font-size: var(--h4);
}

h5 {
	font-size: var(--h5);
}

h6 {
	font-size: var(--h6);
}

body {
	font-size: var(--h5);
	color: var(--black);
	font-family: 'Inter', 'Cormorant Garamond', 'Adobe Garamond', 'Garamond', Times, serif;
	font-weight: 500;
	line-height: 1.6;
	letter-spacing: -0.009em;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	word-wrap: break-word;
	-moz-hyphens: auto;
	hyphens: auto;
}